*{
		margin:0;
		padding: 0;
}
body{
background-color:#0050a4;
width: 100vh;
justify-content: center;
align-items: center;
display: flex;
background-image: linear-gradient(to top,#003670, #0050a4);
}

ul{
padding-bottom: 650px;
display: block;

}
ul a{
text-decoration: none;
font-family: Oswald, sans-serif;
font-size: 1em;
color:white;

}

p{
position: relative;
color: white;
width: 388px;
padding-top: 20px ;
margin: 100px auto;
font-family: Oswald, sans-serif;
font-style: normal;
}
h2{
color:black;
font-family: Oswald, sans-serif;
font-size: 8em;
position: absolute;
top:0;
left: 175px;
opacity: 0.2;
}

